* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}
.bg-1 {
  background-image: url("../images/bg-desktop-light.jpg");
  height: 20%;
  -webkit-background-size: cover auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.bg-2 {
  background-color: white;
  height: 80%;
  z-index: -1;
}
.content {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bannerContent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px 20px 0px 0px;
}
#title {
  margin-right: 40%;
  justify-content: flex-start;
  color: white;
  font-size: xx-large;
  font-weight: 700;
}
#toggleMode {
  justify-content: flex-end;
}
.newItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 10px;
  width: 80%;
  height: 30px;
  max-height: 30px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
  margin-bottom: 5%;
}

.itemInput {
  background-color: hsl(235, 24%, 19%);
  margin-left: 5px;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: medium;
}
.radioInput {
  margin: 0;
  margin-right: 5px;
}
.newItem input::placeholder {
  color: hsl(234, 11%, 52%);
  font-size: small;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 5%;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  text-align: left;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  height: 30px;
  max-height: 30px;
  color: white;
  border-bottom: 1px solid rgba(191, 191, 191, 0.2);
}
.list p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  font-size: small;
}
.list-item li {
  margin-right: auto;
  font-size: small;
  margin-left: 5px;
  color: hsl(234, 39%, 85%);
}
/*Radio Button Styling*/

.list-item p {
  color: hsl(234, 11%, 52%);
}
.list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
  padding: 10px;
  border-radius: 5px;
}
.buttons a {
  margin: 5px;
  color: hsl(234, 11%, 52%);
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .bg-1 {
    background-image: url("../images/bg-mobile-dark.jpg");
    height: 25%;
  }
  .bg-2 {
    background-color: hsl(235, 21%, 11%);
    height: 75%;
  }
}
